@mixin clearfix {
    &::after {
        content: ""; // required
        display: table;
        clear: both; // both float left and float right
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}