.navigation {
    &__checkbox {
        display: none;
    }
    
    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem; // button is 1rem higher and wider than the background (initial green circle)
        right: 6rem;
        z-index: 2000;
        
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        
        text-align: center; // for icon (span element and its ::before & ::after)
        cursor: pointer;
    }
    
    &__background {
        // Green circle expanding from behind the white button circle
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed; // like absolute, takes element out of the flow but stays in same position
        top: 6.5rem; // .5 radius further from top because white button is 1rem higher in total (radius bigger by .5)
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        
        //transform: scale(80); // for dev purposes to style navigation list and links
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        // cubic-bezier: transition timing function https://easings.net/en#easeInOutQuint
    }
    
    // Will take up the whole viewport
    &__nav {
        height: 100vh; // 100% of viewport height
        // block element, will automatically occupy 100% of width 
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        
        // see &__checkbox:checked ~ &__nav
        opacity: 0; // but links are still there
        width: 0;
        
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55); // https://easings.net/en#easeInOutBack
        // 1.55 means the nav will go 55% out of its 100% width before returning to 100% 
    }
    
    &__list {
        list-style: none;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__item {
        margin: 1rem;
    }
    
    &__link {
        &:link, 
        &:visited {
            display: inline-block; // to use padding and translate
            padding: 1rem 2rem; // usually looks better to give more padding on sides for links
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;

            //background-image: linear-gradient(120deg, orangered 0%, orangered 50%, $color-white 50%); // for dev purposes
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 250%; // increasing background size will shift gradient because more zoomed in 
            transition: all .4s;
            
            span {
                display: inline-block;
                margin-right: 1.5rem;
            }
        }
        
        &:hover, 
        &:active {
            background-position: 100%; // same size 250%, but change position 
            color: $color-primary;
            transform: translateX(1rem);
        }
    }
    
    // FUNCTIONALITY
    // Checkbox triggers navigation menu
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }
    
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
    
    // ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;
        
        &, 
        &::before,
        &::after {
            display: inline-block;
            width: 3rem;
            height: 2px; // don't want height to change no matter base font size
            background-color: $color-grey-dark-3;
        }
        
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before { top: -.8rem; } // can set transform-origin: left or right (default is center) for other animations
        &::after { top: .8rem; }
    }
    
    &__button:hover &__icon::before { 
        top: -1rem; 
    }
    
    &__button:hover &__icon::after { 
        top: 1rem; 
    }
    
    &__checkbox:checked + &__button &__icon {
        background-color: transparent; // can't change size because after and before pseudoelements are positioned in relation to it
    }
    
    &__checkbox:checked + &__button &__icon::before {
        // transform: rotate(45deg);
        // want more rotation, so rotate 3/4 circle instead of 1/4
        transform: rotate(180 - 45deg);
        top: 0;
    }
    
    &__checkbox:checked + &__button &__icon::after {
        // transform: rotate(-45deg);
        transform: rotate(180 + 45deg);
        top: 0;
    }
    
}