.composition {
    position: relative;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;
        
        &--p1 {
            left: 0;
            top: -2rem;
        }
        
        &--p2 {
            right: 0;
            top: 2rem;
        }
        
        &--p3 {
            left: 20%;
            top: 10rem;
        }
        
        // We want .composition:hover .composition__photo:not(:hover)
        // .composition .composition__photo:not(hover) would scale all unhovered images down even when one photo isn't scaled up (hover active)
        
        &:hover {
            outline: 1.5rem solid $color-primary; // not using border because want outline-offset property
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
            // doing &__photo here would've be equivalent to .composition:hover .composition:hover__photo
        }
    }
    
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}