.form {
    // Each "group" refers to each input field 
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    
    // Input box & text
    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        width: 90%;
        display: block;
        transition: all .3s; // for border-bottom transitions between &:focus:invalid and &:focus
        
        border: none;
        font-family: inherit;
        color: inherit;
        border-bottom: 3px solid transparent; 
        // if we don't add it here, when we "focus" on the field boxes, it'll move down to add the 3px
        
        &:focus { // .form__input:focus
            outline: none; // default blue outline 
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary; // for valid inputs (see below @ .form__input:focus:invalid)
            
            // Style input field placeholder. Only Safari/Chrome
            &::-webkit-input-placeholder {
                color: $color-grey-dark-2;
            }
        }
        
        &:focus:invalid { // invalid input
            border-bottom: 3px solid $color-secondary-dark;
        }
    }
    
    // Only shows up when we start typing
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        
        display: block; // in order to use box model properties (margin sizes)
        margin-left: 2rem; // to position it exactly under the placeholder text
        margin-top: .7rem;
        
        transition: all .3s; 
    }
    
    // Separate from &__input nesting because not styling input but label
    // can't do &__input:placeholder-shown &__label because they are siblings. label is not a child
    // adjacent sibling selector (comes immediately after): use +
    // For general sibling selector, use ~
    &__input:placeholder-shown + &__label {
        opacity: 0; // invisible but still on page
        visibility: hidden; // can't just use visibility without opacity because can't animate visibility
        transform: translateY(-4rem); // will move down when we start typing
    }
    // Once we start typing, placeholder no longer shown so opacity, visibility, and transform are removed
    
    
    // RADIO BUTTON STYLING
    &__radio-group {
        width: 49%;
        display: inline-block;
    }
    
    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        
        position: relative;
        padding-left: 4.5rem; // away from custom button
    }
    
    // Our custom button, since we can't style the actual button (will hide it and connect the two)
    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block; 
   
        position: absolute;
        left: 0; // relative to radio label. same location as actual button .form__radio-input. to move custom button away from label, we changed the padding-left property of the radio-label rather than the left property of the button
        top: -.4rem;
        
        &::after {
            content: ""; // required
            display: block; // for box model properties (margin, height, width, padding, etc)
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            
            position: absolute; // parent is the custom radio-button. its position is already set to absolute, which is fine
            @mixin center-absolute; // center of parent
            
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        } 
    }
    
    // can also use ~ instead of +
    // when .form__radio-input::checked, 
    // modify .form__radio-button::after, a descendant of its sibling .radio__label
    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;
    }
    
    // Actual browser radio button 
    &__radio-input {
        display: none;
    }
}