// BASIC SETUP
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html { // rem refers to root (html) element
    font-size: 62.5%; 
    // overall setting for sizing
    // defines what 1 rem is, so stays in _base.scss not _typography.scss
}

body {
    box-sizing: border-box; 
}