.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; // to cover the white space left by header clip
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.80)), 
    url(../img/nat-4.jpg);
    background-size: cover;
    
    transform: skewY(-7deg); // skew whole section
    
    // need to skew feature boxes in opp direction so only background is skewed
    & > * { // every direct* child
        transform: skewY(7deg); // to offset parent section-features skew
    }
    // & > * notation only refers to direct children (the single row)
    
    margin-top: -10rem; // cover white-space created by skew
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-stories {
    padding: 15rem 0;
    background-color: $color-grey-light-1; // placeholder for CSS styling. replacing background with video
}